[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb/
[submodule "examples/network_server/yahdlc"]
	path = examples/network_server/yahdlc
	url = git@github.com:bang-olufsen/yahdlc.git
